In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [265]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
467,467,Adairialis76,16,Male,123,Twilight's Carver,$2.28
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,$4.48
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",$4.91
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32
630,630,Aelaria33,23,Male,171,Scalpel,$1.79

In [22]:
total_players=len(purchase_data["SN"].value_counts())
#total_players # checked calc - ok
total_df=pd.DataFrame({
    "Total Players": [total_players]
})
total_df

   Total Players
0            576

In [34]:
total_items=len(purchase_data["Item ID"].value_counts())
total_items

183

In [47]:
average_price=purchase_data["Price"].mean()
average_price

3.050987179487176

In [38]:
total_purch=len(purchase_data["Purchase ID"].value_counts())
total_purch

780

In [39]:
total_revenue=purchase_data["Price"].sum()
total_revenue

2379.77

In [48]:
pd.options.display.float_format = '${:,.2f}'.format
purchasing_totals=pd.DataFrame({
    "Number of Unique Items": [total_items],
    "Average Price": [average_price],
    "Number of Purchases": [total_purch],
    "Total Revenue": [total_revenue]
})
purchasing_totals

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

In [115]:
#to group on player and count gender (i.e. drop duplicate player from the list)
group_gender=purchase_data.groupby('Gender')['SN'].count_values()
group_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

group_gender_df["SN"].value_counts()
group-gender_df

In [116]:
#to calculate percent of players by gender
percent_players=group_gender/total_players*100
percent_players

Gender
Female                  14.06
Male                    84.03
Other / Non-Disclosed    1.91
Name: SN, dtype: float64

In [114]:
group_gender_df["SN"].value_counts()
group-gender_df

NameError: name 'group_gender_df' is not defined

In [92]:
#to format percentage 
pd.options.display.float_format = '{:,.2f}'.format
# to create a summary for both count and percent of players
gender_summary=pd.DataFrame({
    "Total Count": group_gender,
    "Percentage of Players": percent_players
})
gender_summary

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [173]:
purchaseID_sorted=purchase_data.groupby(["Gender"])
purchase_count_sorted=purchaseID_sorted["Purchase ID"].count()
purchase_count_sorted

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [111]:
average_price_sorted=purchase_data.groupby('Gender')["Price"].mean()
average_price_sorted

Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35
Name: Price, dtype: float64

In [113]:
total_revenue_sorted=purchase_data.groupby('Gender')["Price"].sum()
total_revenue_sorted

Gender
Female                    361.94
Male                    1,967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [125]:
purch_perPerson=total_revenue_sorted/group_gender
purch_perPerson

Gender
Female                  4.47
Male                    4.07
Other / Non-Disclosed   4.56
dtype: float64

In [174]:
#to format percentage 
pd.options.display.float_format = '${:,.2f}'.format
# to create a summary for both count and percent of players
purch_analysis_gender=pd.DataFrame({
    "Purchase Count": purchase_count_sorted,
    "Average Purchase Price": average_price_sorted,
    "Total Purchase Value": total_revenue_sorted,
    "Avg Total Purchase per Person": purch_perPerson
})
purch_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [161]:
purchaseID_sorted=purchase_data.groupby(["Gender"])
purchase_count_sorted=purchaseID_sorted.count()
purchase_count_sorted

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [166]:
purchase_count_sorted=len(purchase_data.groupby('Gender')["Purchase ID"].value_counts())
purchase_count_sorted

780

In [171]:
purchaseID_sorted=purchase_data.groupby(["Gender"])
purchase_count_sorted=purchaseID_sorted["Purchase ID"].count()
purchase_count_sorted

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [172]:
purchaseID_sorted=purchase_data.groupby(["Gender"]["Purchase ID"].count())
#purchase_count_sorted=purchaseID_sorted["Purchase ID"].count()
purchase_count_sorted

TypeError: list indices must be integers or slices, not str

In [243]:
#create the bins 
bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf]
#create names for the bins
age_ranges=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#categorize players using the age bins
age_bucket=pd.cut(purchase_data["Age"], bins,labels=age_ranges)
#age_bucket
Total_count=purchase_data["Age"].groupby(age_bucket)
Total_count.count()

Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [276]:
clean_SN=purchase_data["SN"].unique()
lengthb4=len(purchase_data("ST)".value_counts())
#lenght_After=len(clean_SN("ST").value_counts())
lengthb4
clean_SN

SyntaxError: invalid syntax (<ipython-input-276-2133d0071e61>, line 4)

In [262]:
#failed attempts to strip out repetitive names
clean_SN=purchase_data["SN"].unique()
#clean_SN
#cleanSet=clean_SN["SN"].value_counts()
#cleanSet
#clean_count.count()
#clean_count

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [260]:
#clean dataFrame with drop_duplicates == somehow drops more than it should
purchase_data.sort_values("SN", inplace = True)
purchase_data.drop_duplicates(subset="SN",
                             keep=False, inplace = True)
#purchase_data.count()
clean_count=len(purchase_data["SN"].value_counts())
clean_count

414

In [242]:
#create the bins 
bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf]
#create names for the bins
age_ranges=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#to strip SN column from doubles
#clean_SN=purchase_data["SN"].unique()
#clean_SN
# to categorize players using the age bins
age_bucket=pd.cut(clean_SN["Age"], bins,labels=age_ranges)
#age_bucket
#Total_count=clean_SN["Age"].groupby(age_bucket)
#Total_count.count()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [211]:
#to drop doubles from the SN list
clean_SN=purchase_data["SN"].unique()
clean_SN.count()

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [214]:
#to calculate percentage of players
#total_players=len(purchase_data["SN"].value_counts())
percntOfPlayers=Total_count.count()/total_players*100
percntOfPlayers

Age
<10      $3.99
10-14    $4.86
15-19   $23.61
20-24   $63.37
25-29   $17.53
30-34   $12.67
35-39    $7.12
40+      $2.26
Name: Age, dtype: float64

In [215]:
#to format percentage 
pd.options.display.float_format = '{:,.2f}'.format
# to create a summary for Age Demographics table
age_demographics=pd.DataFrame({
    "Total Count": Total_count.count(),
    "Percentage of Players": percntOfPlayers
})
age_demographics

       Total Count  Percentage of Players
Age
<10             23                   3.99
10-14           28                   4.86
15-19          136                  23.61
20-24          365                  63.37
25-29          101                  17.53
30-34           73                  12.67
35-39           41                   7.12
40+             13                   2.26

In [219]:
#create the bins 
bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf]
#create names for the bins
age_ranges=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#categorize players using the age bins
age_bucket=pd.cut(purchase_data["Age"], bins,labels=age_ranges)
#age_bucket
Total_count=purchase_data["Age"].groupby(age_bucket)
Total_count.count()

Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [236]:
#create the bins 
bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf]
#create names for the bins
age_ranges=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#categorize players using the age bins
age_bucket=pd.cut(purchase_data["Age"], bins,labels=age_ranges)
#age_bucket
Average_Purchase_price=purchase_data["Price"].groupby(age_bucket)
Average_Purchase_price

In [229]:
#to calculate average purchase price for the age demographics table
aver_price_per_person=total_revenue/total_players
#to format percentage 
#pd.options.display.float_format = '${:,.2f}'.format
# to create a summary for both count and percent of players
purch_analysis_gender=pd.DataFrame({
    "Purchase Count": Total_count.count(),
    "Average Purchase Price": average_price,
    "Total Purchase Value": total_revenue,
    "Avg Total Purchase per Person": aver_price_per_person
})
purch_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,$3.05,"$2,379.77",$4.13
10-14,28,$3.05,"$2,379.77",$4.13
15-19,136,$3.05,"$2,379.77",$4.13
20-24,365,$3.05,"$2,379.77",$4.13
25-29,101,$3.05,"$2,379.77",$4.13
30-34,73,$3.05,"$2,379.77",$4.13
35-39,41,$3.05,"$2,379.77",$4.13
40+,13,$3.05,"$2,379.77",$4.13

In [ ]:
average_price=purchase_data["Price"].mean()